<a class="card featured-resource-card" href="{{ include.url }}">

    {% if include.image %}
        <div class="featured-resource-image">
            <img src="{{ include.image }}" alt="{{ include.title }}">
        </div>
    {% endif %}

    <div class="featured-resource-content">
        {% if include.type %}
            <div class="card-badge">
                {{ include.type }}
            </div>
        {% endif %}
        <h3>{{ include.title }}</h3>
        <span class="card-arrow">
            →
        </span>
    </div>
    
</a>