 <script type="text/javascript">var submitted=false;</script>
 <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='THE REDIRECT LINK HERE';}"></iframe>

<form action="https://docs.google.com/forms/d/e/1FAIpQLSdX_YpazohlonutVztWMt-H5XMeKoo_l1WX0ZFfox1w0xEBLw/formResponse"  method="post" target="hidden_iframe" 
onsubmit="submitted=true;">
    
      <label>¿Qué te pareció la última clase de práctica?</label>
      <input name="entry.1519741152" type="text" />

      <label>¿Creés que algún tema o ejercicio no quedó del todo claro? ¿Cuál? (si querés, podés dejar también tu e-mail y alguna pregunta específica para recibir respuesta).</label>
      <input name="entry.1404190216" type="text" />
      
      <label>¿Quisieras dar alguna sugerencia o mencionar algo que se podría mejorar sobre las clases?</label>
      <input name="entry.1462648335" type="text" />

      <input type="submit" value="Send" />

</form>
