<header class="site-header">

    <div class="site-brand">
        <a href="/">
            <img
                src="/static/img/avatar.png"
                alt="Patricia E. Miguel">
            <div class="site-brand-text">
                <span class="site-title">
                    Patricia E. Miguel
                </span>
                <span class="site-subtitle">
                    Creadora de Programación Desde Cero
                </span>
            </div>
        </a>
    </div>

    <nav class="site-navigation">
        <a href="/empezar/">Empezar</a>
        <a href="/programacion/">Programación</a>
        <a href="/ia/">IA</a>
        <a href="#">Tienda</a>
        <a href="/">Blog</a>
        <button
            class="search-button"
            type="button"
            aria-label="Buscar">
            Buscar
        </button>
    </nav>

</header>