<meta charset="utf-8">

<meta
    name="viewport"
    content="width=device-width, initial-scale=1">

<title>
    {{ page.title | default: site.title }}
</title>

<link
    rel="icon"
    href="/static/img/favicon.ico">

<link
    rel="stylesheet"
    href="/static/css/redesign/main.css">

{% if page.variants %}
    {% assign payhip_variants = page.variants | where: "payment_provider", "payhip" %}

    {% if payhip_variants.size > 0 %}
        <script type="text/javascript" src="https://payhip.com/payhip.js"></script>
    {% endif %}
{% endif %}