{% include meta.html %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
<script type="text/javascript">window.baseurl = '{{ site.url }}';</script>
{% include css.html %}

<!-- Metricool Tracking Script -->
<script>
  function loadScript(a){
    var b=document.getElementsByTagName("head")[0],
    c=document.createElement("script");
    c.type="text/javascript",
    c.src="https://tracker.metricool.com/resources/be.js",
    c.onreadystatechange=a,
    c.onload=a,
    b.appendChild(c)
  }
  loadScript(function(){
    beTracker.t({hash:"a66a35625be90da1df3d203bb211b6e5"})
  });
</script>
