<article class="premium-resource-card">

    <a href="{{ include.url }}" class="premium-resource-card-image">
        <img
            src="{{ include.image }}"
            alt="{{ include.title }}"
            loading="lazy"
        >
    </a>

    <div class="premium-resource-card-content">

        {% if include.type %}
            <div class="card-badge">
                {{ include.type }}
            </div>
        {% endif %}

        <a href="{{ include.url }}" class="premium-resource-card-title">
            <h2>{{ include.title }}</h2>

            {% if include.subtitle %}
                <span class="premium-resource-card-subtitle">
                    {{ include.subtitle }}
                </span>
            {% endif %}
        </a>

        {% if include.description %}
            <p>{{ include.description }}</p>
        {% endif %}

        {% if include.metadata %}
            <ul class="product-metadata">
                {% for item in include.metadata %}
                    <li>
                        {% include metadata_item.html
                            icon=item.icon
                            text=item.text
                        %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if include.price %}
            <p class="premium-resource-card-price">
                {{ include.price }}
            </p>
        {% endif %}

        <a
            href="{{ include.url }}"
            class="premium-resource-card-action"
        >
            Más información →
        </a>

    </div>

</article>