<div class="product-purchase-options">

    {% for option in include.options %}

        <div class="product-purchase-option">

            <p class="product-purchase-option-price">
                {{ option.currency }} {{ option.price }}
            </p>

            {% if option.payment_provider == "payhip" %}

                <a
                    href="https://payhip.com/b/{{ option.payment_data.product }}"
                    class="payhip-buy-button product-primary-action"
                    data-target-variant="{{ option.payment_data.variant }}"
                    data-theme="blue"
                    data-product="{{ option.payment_data.product }}"
                >
                    Comprar
                </a>

            {% endif %}

        </div>

    {% endfor %}

</div>