<section id="comprar" class="product-section product-purchase">

    <h2>{{ page.variants_title | default: "Seleccionar opción" }}</h2>
    {% if page.variants_description %}
        <p>
            {{ page.variants_description }}
        </p>
    {% endif %}
    
    <div class="product-variants">

        {% for variant in page.variants %}

            <article class="product-variant">

                <div class="product-variant-image">
                    <img
                        src="{{ variant.image }}"
                        alt="{{ variant.title }}"
                        loading="lazy"
                    >
                </div>

                <div class="product-variant-content">

                    <h3>{{ variant.title }}</h3>

                    {% if variant.description %}
                        <p>{{ variant.description }}</p>
                    {% endif %}

                    {% include product_purchase_options.html
                        options=variant.purchase_options
                    %}

                </div>

            </article>

        {% endfor %}

    </div>

</section>