<article class="card quick-access-card">

    {% if include.icon %}
        <div class="quick-access-icon">
            {% include icon.html name=include.icon %}
        </div>
    {% endif %}

    <h3>{{ include.title }}</h3>

    {% if include.description %}
        <p>{{ include.description }}</p>
    {% endif %}

    <div class="quick-access-footer">

        {% if include.button_text and include.button_url %}
            <a class="button-primary" href="{{ include.button_url }}">
                {{ include.button_text }}
            </a>
        {% endif %}

    </div>

</article>