{% assign items = site.data.home_featured_posts.items %}

{% if items.size > 0 %}

<section class="home-section">

    {% include section_header.html
        title="Recursos destacados"
        url="/blog/"
    %}

    <div class="cards-grid">

        {% for item in items %}

            {% include post_card.html
                title=item.title
                description=item.description
                image=item.image
                type=item.type
                url=item.url
            %}

        {% endfor %}

    </div>

</section>

{% endif %}