{% assign items = site.data.home_highlighted_products.items %}

{% if items.size > 0 %}

<section class="home-section">

    {% include section_header.html
        title="Lo nuevo"
        url="/tienda/"
    %}

    <div class="cards-grid">

        {% for item in items %}

            {% include highlighted_product_card.html
                title=item.title
                description=item.description
                image=item.image
                type=item.type
                button_url=item.url
                link_text="Más información"
            %}

        {% endfor %}

    </div>

</section>

{% endif %}