<section class="home-section">
    <div class="mailing-list">
        <div class="mailing-list-icon">
            {% include icon.html name="mail" %}
        </div>
        <div class="mailing-list-title">
            <h2>Enterate de todas las novedades</h2>
        </div>
        <div class="mailing-list-form">
            <!-- Reemplazar este formulario por el embed de EmailOctopus -->
            <form>
                <input
                    type="email"
                    placeholder="Tu email">
                <button type="submit">
                    Suscribirme
                </button>
            </form>
        </div>
    </div>
</section>