<section class="home-section">
    <div class="start-guide">
        <div class="start-guide-image">
            <img src="/static/img/ardilla.png" alt="Programación Desde Cero">
        </div>
        <div class="start-guide-content">
            <h2>¿No sabés por dónde empezar?</h2>
            <p>
                Elegir qué aprender puede ser abrumador. Preparé una guía simple para ayudarte a encontrar el camino que mejor se adapta a tus objetivos.
            </p>
            <a class="button-primary" href="/empezar/">
                Ver guía
            </a>
        </div>
    </div>
</section>